.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
  line-height: 1.35;
}

/* COVER */
.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid currentColor;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

/* LOTS */
.lots {
  padding: 180px 50px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 180px 50px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column:first-child {
  align-items: center;
  justify-content: start;
  padding-left: 95px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 180px 50px 90px;
}

.footer__address {
  justify-self: start;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-list-item {
  margin-bottom: 10px;
}

.footer__menu-list-item:last-child {
  margin-bottom: 0;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
}

.footer__social-icon {
  width: 100%;
}