.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 92px;
}

.header__menu {
  justify-self: start;
}

/* Исправляем меню - добавляем точки между пунктами */
.header__links-list {
  display: flex;
  list-style: none;
  gap: 0;
}

.header__links-list-item {
  display: flex;
  align-items: center;
}

.header__links-list-item:not(:last-child)::after {
  content: "•";
  margin: 0 16px;
}

.header__links-list-item_no-bullit::after {
  content: none;
}

.header__link {
  font-size: 18px;
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
  line-height: 1.15;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-top: 115px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid currentColor;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  margin-left: 0;
  margin-bottom: 27px;
  font-size: 40px;
  text-transform: uppercase;
}

/* Исправляем карточки - 3 в ряд через flex */
.lots__card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
  justify-content: center;
}

.lots__card-list-item {
  width: 334px;
  height: 563px;
  flex-shrink: 0;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 120%;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin-left: 0;
  font-size: 20px;
  border-bottom: 1px solid currentColor;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 146px 50px 180px;
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 0 0 100px 0;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 180px 50px 90px;
}

.footer__address {
  justify-self: start;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  list-style: none;
}

.footer__menu-list-item {
  margin-bottom: 0;
}

.footer__menu-link {
  font-size: 18px;
  border-bottom: 1px solid currentColor;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
}

.footer__social-icon {
  width: 100%;
}